<form id="{{ $parent.options.id }}" name="Signup" ng-controller="Api" ng-submit="send('Signup') && tracking.send('SignupButton', 'click')"   ng-sanitize="true" options='{{ $parent.options }}' ng-class="formSignup status" class="positionAnchor" ng-cloak ng-cloak-reveal>
    <input type="hidden" name="utmSource" ng-value="model.data.utmSource">
    <input type="hidden" name="utmMedium" ng-value="model.data.utmMedium">
    <input type="hidden" name="utmCampaign" ng-value="model.data.utmCampaign">
    <md-progress-circular md-mode="indeterminate" ng-show="status === 'sending'"></md-progress-circular>
    <p class="message" ng-show="response.length" ng-bind-html="response"></p>

    <div class="clearfix inputCollection" ng-show="status !== 'success'">
        <div class="inputBlock">
            <md-input-container>
                <label>Email</label>
                <input name="email" type="email" ng-pattern="options.pattern.email" ng-model="model.data.email" required md-no-asterisk>
                <div ng-messages="Signup.email.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Please enter a valid email.
                    </div>
                </div>
            </md-input-container>
        </div>
        <div class="inputBlock">
            <md-input-container>
                <label>Zip</label>
                <input name="zip" ng-pattern="options.pattern.zip" ng-model="model.data.zip" required md-no-asterisk>
                <div ng-messages="Signup.zip.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Please enter a valid zip code.
                    </div>
                </div>
            </md-input-container>
        </div>
        <div class="inputBlock">
            <button type="submit" class="btn formSubmit" ng-disabled="Signup.$invalid">{{ options.buttonText }}</button>
        </div>
    </div>
</form>