{% extends 'SitetheoryCoreBundle:Content:ContentEdit.html.twig' %}

{% block editForm %}

    <md-tabs md-dynamic-height="" md-border-bottom="" ng-cloak>
        <md-tab label="Main">
            <h2>Header</h2>

            <div class="inset">

                <div class="inputRow">
                    <md-input-container class="block" ng-show="model.completed">
                        <label>Title</label>
                        <input ng-model="model.data.version.title" type="text">
                    </md-input-container>
                </div>

            </div>

            <h2>Body</h2>

            <div class="inset">
                <div ng-show="model.completed">
                    <textarea froala ng-model="model.data.version.text"></textarea>
                </div>

                <br>

                <div>
                    <stratus-media-selector ng-model="model.data.version.images" ng-show="model.completed">
                    </stratus-media-selector>
                </div>
            </div>
        </md-tab>

        <md-tab label="Advanced">

            <div class="inset">
                <div class="inputRow">
                    <stratus-help>This is a variable that is sent to the API to identify the specific candidate whose events you want to load, e.g. /Events?candidate=<em>coribush</em> where "coribush" is the variable name you would enter in this field.</stratus-help>
                    <md-input-container flex ng-show="model.completed">
                        <label>Candidate API Variable</label>
                        <input ng-model="model.data.version.custom.candidate" type="text">
                    </md-input-container>
                </div>
            </div>

            <div class="inputRow">
                <stratus-help>This can be used for a value proposition, summary, pullout quote, etc.
                </stratus-help>
                <md-input-container class="block" ng-show="model.completed">
                    <label>Subtitle</label>
                    <input ng-model="model.data.version.subtitle" type="text">
                </md-input-container>
            </div>

        </md-tab>
    </md-tabs>



{% endblock editForm %}
